
.card-body {
  background-color: lightgoldenrodyellow;
}

.card {
  background-color: lightsteelblue;
}

.card-image {
  background-color: blueviolet;
}

h3 {
  color: wheat;
}

.mdb {
  background-color: darkgray;
}

h2{
  color: lightslategray;
  font-family: Helvetica;
}

.btn-primary {
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium';
}

h4 {
  color: wheat;
}

.alert-primary {
  margin: 1px;
  color: darkgray;
  font-family: 'Franklin Gothic Medium';
}

.alert-danger {
  margin: 1px;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium';
}

.bg-secondary {
  margin: 1px;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium';
}

h5 {
  color: lightslategray;
  font-family: 'Lucida Sans';
}

a {
  color: blue($color: #000000);
  font-family: 'Franklin Gothic Medium';

}

.btn-blue-grey darken-1 {
  color: darkgray;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height:140px;
  border-radius: 60%;
  float: center;
}


a {
  color: white;
  font-family: 'Franklin Gothic Medium';

}

.btn-mdb-color {
  color: lightblue;
}

.btn-blue-grey {
  color: whitesmoke;
}

h6{
  color: lightslategray;
  font-family: Helvetica;
}

li{
  color: lightslategray;
  font-family: Helvetica;
}

.nav {
  float: right;
  color: blueviolet
}


.readcrumb-item {
  color: blue($color: #000000);
}





