<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<div class="alert alert-primary" role="alert">
  created with Angular—check it out!
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="80" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="alert bg-secondary text-whitesmoke" role="alert">
<p>German native speaker available April 2019</p>
<p>Looking for a job as a Front End Developer</p>


</div>

<img src="assets/profile_picture.jpg" alt="Avatar" class="avatar">

 <div class="card-body font-bold text-color darken-1">
      <h2 class="card-title">Prioritise and manage own workload</h2>
      <h2 class="card-title">Logical approach to problem resolution</h2>
      <h2 class="card-title">Demonstrate the ability to deliver results under pressure</h2>
      <h2 class="card-title">Multilingual and Self motivated</h2>
      <h2 class="card-title">Desire to learn more</h2>
      <h6 class="card-text" >34 years work experience </h6>
      <h6 class = "card-text"> Since 2014 in the United Kingdom </h6>

  </div>


<div class="card">
  <h3 class="card-header primary-color white-text">currently working on different projects</h3>
  <div class="card-body">
      <h5 class="card-title">Research and updating database@Roc-Search, London</h5>
      <h5 class="card-title">Investigate and handling claims @Airfrance,London</h5>
      <h5 class="card-title">Customer Service @TTEC, Belfast</h5>
      <h5 class="card-title">Learning Python @Udacity</h5>

<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>11.04.2018 - up to date</a>

  </div>

<div class="card">
        <h3 class="card-header primary-color white-text">Data Analyst</h3>
       <a class="btn btn-blue-grey darken-1">@Cyntergy, Sunburrey</a>
        <div class="card-body">
            <h5 class="card-title">Assisting IT support needs such as detecting software/hardware problems, liaising with third party suppliers</h5>
            <h5 class="card-title">Escalate the issues to engineers for supporting and installation of new hardware and software</h5>
            <h5 class="card-title">Diagnosing and resolving problems to the user's satisfaction.</h5>
<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>26.06.2017 - 31.12.2017</a>
        </div>


      </div>

<div class="light-font">

            <div class="card">
              <h3 class="card-header primary-color white-text">Concierge Specialist</h3>
              <a class="btn btn-blue-grey darken-1">@AXA Redhill</a>
              <div class="card-body">
                  <h5 class="card-title">Dealing with telephone and email enquiries from Corporate and VIP German American and British customers </h5>

                  <h5 class="card-title">Delivering concierge service on a global basis and providing tailored solutions </h5>

                  <h5 class="card-title">Handling extraordinary requests of wealthy customers</h5>
                  <h5 class="card-title">Delivering solutions to the customers's satisfaction</h5>

                  <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>01.11.2016 - 30.04.2017</a>
              </div>
            </div>


              <div class="card">
              <h3 class="card-header primary-color white-text">Technical Professional </h3>
              <a class="btn btn-blue-grey darken-1">on behalf of BOSCH @Sitel London </a>
              <div class="card-body">
                  <h5 class="card-title">Ensuring and delivering the best quality of service to our client</h5>

                  <h5 class="card-title">Handling inbound / outbound calls and emails in a timely manner</h5>


                  <h5 class="card-title">Advise the customer to choose the best product and service package for his needs</h5>

                  <h5 class="card-title">Troubleshooting technical issues with devices products and Apps</h5>


                  <h5 class="card-title">After-sales support for customer regarding spare parts and accessories</h5>


                  <h5 class="card-title">Updating communication sheet and providing feedback to the client in order to improve quality</h5>

                   <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>15.09.2015 - 30.11.2016</a>
              </div>
            </div>


        <div class="card">
              <h3 class="card-header primary-color white-text">Technical Support for GOOGLE </h3>
              <a class="btn btn-blue-grey darken-1">@ WDS Bournemouth </a>

              <div class="card-body">
                  <h5 class="card-title">Providing multiple channel (phone, chat, email) customer support to end users in English /German </h5>

                  <h5 class="card-title">Assist customers with order payment and billing issues</h5>

                  <h5 class="card-title">Logging customer and product information into CRM systems</h5>

                  <h5 class="card-title">Troubleshooting issues on GOOGLE Play Store </h5>

                  <h5 class="card-title">Achieved a high standard in personal KPI targets and helped the customers to resolve their issues</h5>

                  <a class="btn btn-mdb-color lighten-1 white-text">28.04.2014 - 30.06.2014</a>
              </div>

               <div class="card">
              <h3 class="card-header primary-color white-text"> Consultant Digital Media and Services </h3>
              <a class="btn btn-blue-grey darken-1">@T-Mobile and Sky in Stuttgart Germany</a>

              <div class="card-body">
                  <h5 class="card-title">Proactively approaching customers at the Point of Sales  </h5>

                   <h5 class="card-title">Selling broadband contracts for the big telecoms VODAFONE TELEKOM and O2</h5>


                  <h5 class="card-title">Cross Selling and setting up internet connections and hardware on request</h5>


                  <h5 class="card-title">Powerseller for Sky Pay TV persuaded prospects to enjoy great entertainment and sports </h5>

                  <h5 class="card-title">Participated in the marketing campaign for the German brand METABO a producer for Power Tools  </h5>

                  <h5 class="card-title">Exceeded targets in all campaigns</h5>

                  <a class="btn btn- mdb-color lighten-1 white-text">01.09.2005 - 31.12.2013</a>
              </div>
            </div>
            </div>



<div class="alert bg-secondary" role="alert">
Teaching English and German in Vietnam 01.01.2018 - 09.04.2018
</div>
 <div class="alert bg-secondary" role="alert">
        Traveling in Vietnam 30.04.2017 - 09.06.2017
       </div>

      <div class="alert bg-secondary" role="alert">
        Learning Russian in Ukraine 01.07.2015 - 31.08.2015
       </div>



<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    Languages
  </button>
  <button type="button" class="list-group-item list-group-item-action">German - native</button>
  <button type="button" class="list-group-item list-group-item-action">English - fluent</button>
  <button type="button" class="list-group-item list-group-item-action">French - basic</button>
  <button type="button" class="list-group-item list-group-item-action">Spanish - basic</button>
  <button type="button" class="list-group-item list-group-item-action">Russian - basic</button>
</div>

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    Skills
  </button>
  <button type="button" class="list-group-item list-group-item-action">Google Analytics</button>
  <button type="button" class="list-group-item list-group-item-action special-color-text">JavaScript</button>
  <button type="button" class="list-group-item list-group-item-action">Wordpress</button>
  <button type="button" class="list-group-item list-group-item-action">Angular </button>
  <button type="button" class="list-group-item list-group-item-action">SQL </button>
  <button type="button" class="list-group-item list-group-item-action">TEFL</button>
</div>

<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold text-color whitesmoke"><strong>Interests</strong></h2>
      <p class="card-title h1-responsive pt-3 mb-3 font text-color whitesmoke">When I am not busy with my job I very much like traveling. I have been to 55 countries so far. Plenty of good things are associated with travel like learning new languages and cultures
      relaxing at the ocean and having nice seafood.
        I also do cycling very often even to my place of work that saves me time and money and keeps me fit! Ocassionaly I go for skiing to the switzerland mountains and visit my friends and family in Germany
      </p>

     <a href="http://uspekhi.com/en/london-webdesign" target="_blank" class="btn btn-outline-white btn-md"><i class="fa fa-clone left"></i> View project </a>
   <li>
  <h2><a target="_blank" rel="noopener" href="http://uspekhi.com/en/contact-us">contact</a></h2>
</li>
 <h6 class="display-5"><a href="tel:+44 7602907567">+44 7502907467</a></h6>
  <h6 class="display-5"> <a href="uktrader83@gmail.com?Subject=Hello%20again" target="_top">uktrader83@gmail.com</a></h6>
    </div>
  </div>






